.FinishedQuiz {
    margin: 0 10px;
    padding: 20px;
    list-style: none;
    border: 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
}

.FinishedQuiz li i {
    padding-top: 5px;
    margin-left: 10px;
}

.FinishedQuiz li p {
    margin: 0;
}

.success {
    color: rgba(148, 238, 45, 0.801);
}

.error {
    color: rgba(255, 1, 35, 0.842);
}

.FinishedQuiz .Button {
    margin-left: 20px;
}

.FinishedQuiz .ResultsCount {
    color: #40E0D0;
}