.Quiz {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    & h1 {
        text-align: center;
    }
}

.QuizWrapper {
    width: 600px;
}