.AnswerItem {
    margin-bottom: 5px;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

.AnswerItem.success {
    background: rgba(161, 240, 69, .7);
}

.AnswerItem.error {
    background: rgba(240, 87, 108, .7);
}